NiFi flow reference/NiFi_Flow-1.json
{"flowContents":{"identifier":"abf29ed6-799f-3792-a596-cb188ab0e285","instanceIdentifier":"2c391f20-018d-1000-0097-3dbf95424dd8","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"31ff7bdc-4da0-32fb-8479-3e1525f9c365","instanceIdentifier":"c43b2027-104c-118d-7fd2-648feab11b2d","name":"ConvertTagJSONToSQL","comments":"","position":{"x":7736.0,"y":6472.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"table-schema-cache-size":"100","Table Name":"supplies_order_item_tags","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":"ho1datawarehouse","Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"c4a8c372-8309-30fe-bb30-8bdaa553883f","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"b0e415a5-3168-3a18-970c-f30194b19f2f","instanceIdentifier":"2c8287d8-018d-1000-8497-d8d8519a60d2","name":"ConvertJSONToSQL","comments":"","position":{"x":5840.0,"y":6080.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"table-schema-cache-size":"100","Table Name":"supplies_orders","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":"ho1datawarehouse","Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"c4a8c372-8309-30fe-bb30-8bdaa553883f","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"2bdb3bbb-2bdb-3e75-a88f-ecf030ea39b2","instanceIdentifier":"c43b1ffc-104c-118d-92fc-e0dd92aa03d6","name":"AssignArrayToKey","comments":"","position":{"x":7728.0,"y":6280.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"@\": \"tags\"\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"ef287ac4-70f5-3388-87a2-891e51b6de11","instanceIdentifier":"018d1000-87d8-1c82-b774-881ab770c57b","name":"ConvertJSONToSQL","comments":"","position":{"x":6448.0,"y":6272.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"table-schema-cache-size":"100","Table Name":"supplies_order_items","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":"ho1datawarehouse","Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"c4a8c372-8309-30fe-bb30-8bdaa553883f","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"b6b7f7a1-f2ec-30ed-a766-819f7bd7a3e8","instanceIdentifier":"c43b1fd7-10a5-118d-8730-5838cb526f0e","name":"AddSuppliesOrderItemTagKey","comments":"","position":{"x":7080.0,"y":6480.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"jolt-spec":"[{\n  \"operation\": \"default\",\n  \"spec\": {\n      \"supplies_order_item_tag_key\": \"${UUID()}\"\n  }}\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"0e153437-0d80-3c0d-98bf-689eb2d4ccbc","instanceIdentifier":"018d102b-c43b-1fd7-b675-819ef47c1278","name":"SplitJsonItemsArray","comments":"","position":{"x":7088.0,"y":5944.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.items"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"7d56c9f4-ba3d-3918-913d-da91e096c2a6","instanceIdentifier":"2c57d1bd-018d-1000-b5ba-62f4c2e99646","name":"GetMongo","comments":"","position":{"x":6448.0,"y":5688.0},"type":"org.apache.nifi.processors.mongodb.GetMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.0.0-M1"},"properties":{"mongo-client-service":"61e24e08-584f-32ae-a51a-019f2839aafa","mongo-charset":"UTF-8","Query":null,"mongo-date-format":"yyyy-MM-dd'T'HH:mm:ss'Z'","json-type":"Standard","Projection":null,"Mongo Database Name":"HO1SuppliesDataset","mongo-query-attribute":null,"results-per-flowfile":null,"Batch Size":null,"Mongo Collection Name":"SuppliesCollection","Sort":null,"use-pretty-printing":"true","Limit":null,"get-mongo-send-empty":"false"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"mongo-charset":{"name":"mongo-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-date-format":{"name":"mongo-date-format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"json-type":{"name":"json-type","displayName":"JSON Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Projection":{"name":"Projection","displayName":"Projection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-query-attribute":{"name":"mongo-query-attribute","displayName":"Query Output Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"results-per-flowfile":{"name":"results-per-flowfile","displayName":"Results Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sort":{"name":"Sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-pretty-printing":{"name":"use-pretty-printing","displayName":"Pretty Print Results JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Limit":{"name":"Limit","displayName":"Limit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"get-mongo-send-empty":{"name":"get-mongo-send-empty","displayName":"Send Empty Result","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"99c9518e-c2b2-34ac-b22b-d63a411ea968","instanceIdentifier":"2fd91a10-018d-1000-d833-ac9e1ea33e86","name":"JoltTransformSuppliesOrders","comments":"","position":{"x":5840.0,"y":5936.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"_id\": \"id\",\n\t\t\"saleDate\": \"saleDate\",\n\t\t\"storeLocation\": \"storeLocation\",\n\t\t\"customer\": {\n\t\t\t\"gender\": \"customer_gender\",\n\t\t\t\"age\": \"customer_age\",\n\t\t\t\"email\": \"Customer_email\",\n\t\t\t\"satisfaction\": \"customer_satisfaction\"\n\t\t},\n\t\t\"couponUsed\": \"couponUsed\",\n\t\t\"purchaseMethod\": \"purchaseMethod\"\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"2b940e06-c5cd-3247-b9ff-72f2a469bbd4","instanceIdentifier":"c43b1ff9-104c-118d-f3b2-d20a8fcc3410","name":"TransformTagsElementsIntoJSON","comments":"","position":{"x":7728.0,"y":6120.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"tags\": {\n\t\t\t\"*\": {\n\t\t\t\t\"@\": \"[&1].tagname\",\n\t\t\t\t\"@(2,supplies_order_items_key)\": \"[&1].supplies_order_items_key\"\n\t\t\t\t}\n        }\n      }\n    \n    \n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"585f2214-9c18-3ff7-a00b-f41beace1b34","instanceIdentifier":"018d10a5-c43b-1fd7-a47c-a9257cadcf16","name":"AddSupplierOrderItemsKey","comments":"","position":{"x":7712.0,"y":5944.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"jolt-spec":"[{\n  \"operation\": \"default\",\n  \"spec\": {\n      \"supplies_order_items_key\": \"${UUID()}\"\n  }}\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"18e9a55a-55ee-3146-8775-44bc9b02deb8","instanceIdentifier":"c43b201b-104c-118d-1f76-9c5e4eca8f53","name":"LogAttribute","comments":"","position":{"x":7080.0,"y":6680.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"d96e8456-384a-30d7-9175-272d5e4a9fd6","instanceIdentifier":"2c64a8c1-018d-1000-f3c1-6dc286737890","name":"LogAttribute","comments":"","position":{"x":6448.0,"y":6664.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"022d2167-42a6-31b2-9973-801077cd28f8","instanceIdentifier":"2fd7c43b-018d-1000-e44b-e248a55bd66f","name":"InsertIntoSuppliesOrders","comments":"","position":{"x":5840.0,"y":6232.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"c4a8c372-8309-30fe-bb30-8bdaa553883f","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"fcf7afc5-0fcf-3094-ab5b-55fcdabb4331","instanceIdentifier":"c43b202a-104c-118d-214c-b99a32ebaa89","name":"InsertIntoSuppliesOrderItemTags","comments":"","position":{"x":7736.0,"y":6680.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"c4a8c372-8309-30fe-bb30-8bdaa553883f","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"a2f905c4-6efa-331d-a841-cd82bcda2047","instanceIdentifier":"018d104c-c43b-1fd7-e1b5-79939447695e","name":"AttributesToJSON","comments":"","position":{"x":6448.0,"y":6112.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"supplies_order_items_key, orderid, name, price, quantity","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"c171790b-0ed1-3e3d-a4e4-c528e141a71a","instanceIdentifier":"018d1000-c43b-1fd7-8a34-e9f72ead8a3f","name":"InsertIntoSuppliesOrderItems","comments":"","position":{"x":6448.0,"y":6432.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"c4a8c372-8309-30fe-bb30-8bdaa553883f","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"d698efcd-b2e5-3cac-8d70-026b5ee0a717","instanceIdentifier":"31ab3d59-018d-1000-134b-49d449ddfde1","name":"JoltTransformSuppliesOrderItems","comments":"","position":{"x":6448.0,"y":5936.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"items\": {\n        \"*\": {\n\t\t  \"@(2,_id)\": \"items[&1].orderid\",\n          \"name\": \"items[&1].name\",\n          \"price\": \"items[&1].price\",\n          \"quantity\": \"items[&1].quantity\",\n          \"tags\": \"items[&1].tags\"\n        }\n      }\n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"4b26f0a1-7820-3a1c-8dc4-1db32cb7e476","instanceIdentifier":"c43b1fdb-104c-118d-ea3b-458f716883de","name":"SplitTagsJSON","comments":"","position":{"x":7080.0,"y":6280.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.tags"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"7bf887c1-7b57-3f4b-9981-8551ec4295be","instanceIdentifier":"018d1049-c43b-1fd7-9057-edd61548226e","name":"EvaluateJsonPath","comments":"","position":{"x":7072.0,"y":6112.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Destination":"flowfile-attribute","quantity":"$.quantity","Max String Length":"20 MB","orderid":"$.orderid","price":"$.price","Return Type":"auto-detect","name":"$.name","Null Value Representation":"empty string","supplies_order_items_key":"$.supplies_order_items_key","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"quantity":{"name":"quantity","displayName":"quantity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"orderid":{"name":"orderid","displayName":"orderid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"price":{"name":"price","displayName":"price","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"supplies_order_items_key":{"name":"supplies_order_items_key","displayName":"supplies_order_items_key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d98405f1-5283-310b-9e1e-d98205e6abc0","instanceIdentifier":"3069646b-018d-1000-b728-25e1302315ed","name":"","source":{"id":"99c9518e-c2b2-34ac-b22b-d63a411ea968","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"JoltTransformSuppliesOrders","comments":"","instanceIdentifier":"2fd91a10-018d-1000-d833-ac9e1ea33e86"},"destination":{"id":"b0e415a5-3168-3a18-970c-f30194b19f2f","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"2c8287d8-018d-1000-8497-d8d8519a60d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":5688.0,"y":6080.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"0aed994b-ed98-3ad4-8e00-26a5b4e3e7ab","instanceIdentifier":"c43b2019-104c-118d-a5f3-7c71aa3d5a5a","name":"","source":{"id":"585f2214-9c18-3ff7-a00b-f41beace1b34","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"AddSupplierOrderItemsKey","comments":"","instanceIdentifier":"018d10a5-c43b-1fd7-a47c-a9257cadcf16"},"destination":{"id":"7bf887c1-7b57-3f4b-9981-8551ec4295be","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"018d1049-c43b-1fd7-9057-edd61548226e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":7592.0,"y":6112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"ff256584-85f4-32de-b38c-d7217cd4bb7e","instanceIdentifier":"c43b1fd9-10a5-118d-4b72-90357ef892d7","name":"","source":{"id":"b6b7f7a1-f2ec-30ed-a766-819f7bd7a3e8","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"AddSuppliesOrderItemTagKey","comments":"","instanceIdentifier":"c43b1fd7-10a5-118d-8730-5838cb526f0e"},"destination":{"id":"31ff7bdc-4da0-32fb-8479-3e1525f9c365","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"ConvertTagJSONToSQL","comments":"","instanceIdentifier":"c43b2027-104c-118d-7fd2-648feab11b2d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"e19f66a7-ce98-3b5a-b758-262d34bf6433","instanceIdentifier":"c43b1fe0-10a5-118d-b313-43d34ee10dd5","name":"","source":{"id":"7d56c9f4-ba3d-3918-913d-da91e096c2a6","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"GetMongo","comments":"","instanceIdentifier":"2c57d1bd-018d-1000-b5ba-62f4c2e99646"},"destination":{"id":"99c9518e-c2b2-34ac-b22b-d63a411ea968","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"JoltTransformSuppliesOrders","comments":"","instanceIdentifier":"2fd91a10-018d-1000-d833-ac9e1ea33e86"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":6016.0,"y":5752.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"dc45d74d-e300-3016-9681-459256b25fee","instanceIdentifier":"c43b2025-104c-118d-5871-91980560982f","name":"","source":{"id":"a2f905c4-6efa-331d-a841-cd82bcda2047","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"AttributesToJSON","comments":"","instanceIdentifier":"018d104c-c43b-1fd7-e1b5-79939447695e"},"destination":{"id":"ef287ac4-70f5-3388-87a2-891e51b6de11","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"018d1000-87d8-1c82-b774-881ab770c57b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":6320.0,"y":6264.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"181ad4e4-8adc-3c10-ab8f-e3e47fec1ee2","instanceIdentifier":"c43b201f-104c-118d-16b4-17df3492f5d2","name":"","source":{"id":"7bf887c1-7b57-3f4b-9981-8551ec4295be","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"018d1049-c43b-1fd7-9057-edd61548226e"},"destination":{"id":"2b940e06-c5cd-3247-b9ff-72f2a469bbd4","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"TransformTagsElementsIntoJSON","comments":"","instanceIdentifier":"c43b1ff9-104c-118d-f3b2-d20a8fcc3410"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"a0ce98a7-d273-3586-a92d-edbaf7c71e5c","instanceIdentifier":"307540f6-018d-1000-129b-beecfe18b48c","name":"","source":{"id":"022d2167-42a6-31b2-9973-801077cd28f8","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"InsertIntoSuppliesOrders","comments":"","instanceIdentifier":"2fd7c43b-018d-1000-e44b-e248a55bd66f"},"destination":{"id":"d96e8456-384a-30d7-9175-272d5e4a9fd6","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"LogAttribute","comments":"","instanceIdentifier":"2c64a8c1-018d-1000-f3c1-6dc286737890"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":6016.0,"y":6728.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"3442658d-6a84-3434-80ad-2ef636d9b246","instanceIdentifier":"3074fbab-018d-1000-eb36-a34158ce8575","name":"","source":{"id":"b0e415a5-3168-3a18-970c-f30194b19f2f","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"2c8287d8-018d-1000-8497-d8d8519a60d2"},"destination":{"id":"022d2167-42a6-31b2-9973-801077cd28f8","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"InsertIntoSuppliesOrders","comments":"","instanceIdentifier":"2fd7c43b-018d-1000-e44b-e248a55bd66f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":5688.0,"y":6232.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"39ff6692-ed64-35ba-9451-b0c308f398ed","instanceIdentifier":"018d1008-c43b-1fd7-054f-ce20deaf8594","name":"","source":{"id":"ef287ac4-70f5-3388-87a2-891e51b6de11","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"018d1000-87d8-1c82-b774-881ab770c57b"},"destination":{"id":"c171790b-0ed1-3e3d-a4e4-c528e141a71a","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"InsertIntoSuppliesOrderItems","comments":"","instanceIdentifier":"018d1000-c43b-1fd7-8a34-e9f72ead8a3f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":6320.0,"y":6424.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"ac92e8fd-3bee-34e5-aafc-07c261a033d1","instanceIdentifier":"018d108d-c43b-1fd7-cb51-c2bcc4ea1546","name":"","source":{"id":"d698efcd-b2e5-3cac-8d70-026b5ee0a717","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"JoltTransformSuppliesOrderItems","comments":"","instanceIdentifier":"31ab3d59-018d-1000-134b-49d449ddfde1"},"destination":{"id":"0e153437-0d80-3c0d-98bf-689eb2d4ccbc","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"SplitJsonItemsArray","comments":"","instanceIdentifier":"018d102b-c43b-1fd7-b675-819ef47c1278"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"61f8c939-c7f2-360f-8329-c41011ab9819","instanceIdentifier":"c43b1fde-10a5-118d-e616-f2575ea7a9e6","name":"","source":{"id":"c171790b-0ed1-3e3d-a4e4-c528e141a71a","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"InsertIntoSuppliesOrderItems","comments":"","instanceIdentifier":"018d1000-c43b-1fd7-8a34-e9f72ead8a3f"},"destination":{"id":"d96e8456-384a-30d7-9175-272d5e4a9fd6","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"LogAttribute","comments":"","instanceIdentifier":"2c64a8c1-018d-1000-f3c1-6dc286737890"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"c41e4849-7636-3996-ab94-847e5de3d667","instanceIdentifier":"c43b2028-104c-118d-aca6-d90472024ed6","name":"","source":{"id":"4b26f0a1-7820-3a1c-8dc4-1db32cb7e476","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"SplitTagsJSON","comments":"","instanceIdentifier":"c43b1fdb-104c-118d-ea3b-458f716883de"},"destination":{"id":"b6b7f7a1-f2ec-30ed-a766-819f7bd7a3e8","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"AddSuppliesOrderItemTagKey","comments":"","instanceIdentifier":"c43b1fd7-10a5-118d-8730-5838cb526f0e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"3dce4739-c98e-3853-8d6c-c3e4e32e05b1","instanceIdentifier":"c43b202d-104c-118d-9366-e669aee6ba58","name":"","source":{"id":"fcf7afc5-0fcf-3094-ab5b-55fcdabb4331","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"InsertIntoSuppliesOrderItemTags","comments":"","instanceIdentifier":"c43b202a-104c-118d-214c-b99a32ebaa89"},"destination":{"id":"18e9a55a-55ee-3146-8775-44bc9b02deb8","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"LogAttribute","comments":"","instanceIdentifier":"c43b201b-104c-118d-1f76-9c5e4eca8f53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"0f91b532-5ec0-3c46-81e4-1d42669f1062","instanceIdentifier":"c43b2001-104c-118d-02b7-2f6f576b0475","name":"","source":{"id":"2bdb3bbb-2bdb-3e75-a88f-ecf030ea39b2","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"AssignArrayToKey","comments":"","instanceIdentifier":"c43b1ffc-104c-118d-92fc-e0dd92aa03d6"},"destination":{"id":"4b26f0a1-7820-3a1c-8dc4-1db32cb7e476","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"SplitTagsJSON","comments":"","instanceIdentifier":"c43b1fdb-104c-118d-ea3b-458f716883de"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"5e7b3472-5223-37e5-b755-43aa8f993b7d","instanceIdentifier":"c43b1ffd-104c-118d-7a83-c944659e9382","name":"","source":{"id":"2b940e06-c5cd-3247-b9ff-72f2a469bbd4","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"TransformTagsElementsIntoJSON","comments":"","instanceIdentifier":"c43b1ff9-104c-118d-f3b2-d20a8fcc3410"},"destination":{"id":"2bdb3bbb-2bdb-3e75-a88f-ecf030ea39b2","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"AssignArrayToKey","comments":"","instanceIdentifier":"c43b1ffc-104c-118d-92fc-e0dd92aa03d6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":8208.0,"y":6304.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"3509b283-4601-3fb0-9231-edee17c5fb52","instanceIdentifier":"c43b202b-104c-118d-5937-7dbce3265dd6","name":"","source":{"id":"31ff7bdc-4da0-32fb-8479-3e1525f9c365","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"ConvertTagJSONToSQL","comments":"","instanceIdentifier":"c43b2027-104c-118d-7fd2-648feab11b2d"},"destination":{"id":"fcf7afc5-0fcf-3094-ab5b-55fcdabb4331","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"InsertIntoSuppliesOrderItemTags","comments":"","instanceIdentifier":"c43b202a-104c-118d-214c-b99a32ebaa89"},"labelIndex":0,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"4b015b27-d749-3c25-b540-e586afb94c40","instanceIdentifier":"c43b2018-104c-118d-673b-951a60484878","name":"","source":{"id":"0e153437-0d80-3c0d-98bf-689eb2d4ccbc","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"SplitJsonItemsArray","comments":"","instanceIdentifier":"018d102b-c43b-1fd7-b675-819ef47c1278"},"destination":{"id":"585f2214-9c18-3ff7-a00b-f41beace1b34","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"AddSupplierOrderItemsKey","comments":"","instanceIdentifier":"018d10a5-c43b-1fd7-a47c-a9257cadcf16"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"c161b412-1ebb-37ad-8a83-778d0bb319f8","instanceIdentifier":"018d1001-c43b-1fd7-a7c6-a1a6d6ce9b69","name":"","source":{"id":"7d56c9f4-ba3d-3918-913d-da91e096c2a6","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"GetMongo","comments":"","instanceIdentifier":"2c57d1bd-018d-1000-b5ba-62f4c2e99646"},"destination":{"id":"d698efcd-b2e5-3cac-8d70-026b5ee0a717","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"JoltTransformSuppliesOrderItems","comments":"","instanceIdentifier":"31ab3d59-018d-1000-134b-49d449ddfde1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"13d2c1e7-fdd6-3f2f-8616-edb50744bdd6","instanceIdentifier":"c43b201a-104c-118d-0bda-5e10f7c04ed6","name":"","source":{"id":"7bf887c1-7b57-3f4b-9981-8551ec4295be","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"018d1049-c43b-1fd7-9057-edd61548226e"},"destination":{"id":"a2f905c4-6efa-331d-a841-cd82bcda2047","type":"PROCESSOR","groupId":"abf29ed6-799f-3792-a596-cb188ab0e285","name":"AttributesToJSON","comments":"","instanceIdentifier":"018d104c-c43b-1fd7-e1b5-79939447695e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"61e24e08-584f-32ae-a51a-019f2839aafa","instanceIdentifier":"2c57fe0c-018d-1000-0563-993ff9fd6c3f","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.0.0-M1"},"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":null,"mongo-uri":"mongodb://localhost:27017","mongo-write-concern":"ACKNOWLEDGED"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"mongo-write-concern":{"name":"mongo-write-concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.0.0-M1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"},{"identifier":"c4a8c372-8309-30fe-bb30-8bdaa553883f","instanceIdentifier":"2c82b40c-018d-1000-d608-a002e520888e","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:mysql://127.0.0.1:3306/?user=root","dbcp-time-between-eviction-runs":"-1","Database User":"root","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"\\Users\\Wesly\\Documents\\DLSU CS-ST AY. 2023 - 2024 Term 2\\STADVDB\\HO1\\Apache Nifi\\nifi-2.0.0-M1\\lib\\mysql-connector-j-8.3.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"abf29ed6-799f-3792-a596-cb188ab0e285"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}